body{
    font-family: Verdana, Geneva, Tahoma, sans-serif, Helvetica, sans-serif;
    font-size: 16px;
    color: black;
    background-color: rgb(205, 187, 207);
    margin-left: 20px;
    line-height: 1.2;
}
li {
    font-size:  16px;
    font-weight: normal;
}
a {color: rgb(0, 0, 150);
text-decoration: none;
}
a:hover {
    text-decoration: underline;
}
a:visited {
    color: purple;
}
.resumelistheading {
    font-weight: bold;
    font-style: normal;
}
.underline {text-decoration: underline;}
.bold {font-weight: bold;}
.justify {text-align: justify;}

.homebg {
    background-image: url('../images/test.png');
    background-position: top left;
}

.box1 {
    border-width: 1px;
    border-style: solid;
    border-color: gray;
}

.box2 {
    /* padding: 5px; */

}

.box3 {
    /* margin: 50px */
}

/* The FitnessGram Pacer Test is a multistage aerobic capacity test that gets progressively more difficult as it continues. */